.insoles {
    box-sizing: border-box;
    position: relative;
    padding: 40px 0px 50px 0px;
    &_block {
        &_item {
            margin-bottom: 50px;
            & h3 {
                font-family: 'Gilroy';
                font-weight: 700;
                font-size: 26px;
                line-height: 31px;
                letter-spacing: 0.03em;
                color: #065F51;
            }
            &_wrap {
                &_text {
                    margin-top: 6px;
                    & p {
                        font-family: 'Gilroy';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 0.03em;
                        color: #353535;
                        margin-bottom: 20px;
                        & b {
                            font-weight: 700;
                        }
                    }
                    &_mob {
                        box-sizing: border-box;
                        position: relative;
                        background: #FFFFFF;
                        box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
                        border-radius: 15px;
                        margin-bottom: 80px;
                        & .feature_one {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            width: 100px;
                        }
                        & .main_img {
                            width: 100%;
                            max-width: 438px;
                            display: block;
                            margin-left: auto;
                        }
                        & .feature_two {
                            position: absolute;
                            right: 0px;
                            bottom: 0px;
                            width: 200px;
                        }
                        &_btn {
                            position: absolute;
                            left: 20px;
                            bottom: -60px;
                            cursor: pointer;
                            & .btn {
                                width: 70px;
                                position: relative;
                                z-index: 2;
                            }
                            & .band {
                                position: absolute;
                                left: 50px;
                                bottom: 15px;
                            }
                            & span {
                                display: block;
                                font-family: 'Gilroy';
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 14px;
                                color: #444766;
                                margin-left: 115px;
                            }
                        }
                    }
                }
                &_img {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    &_first {
                        box-sizing: border-box;
                        position: relative;
                        background: #FFFFFF;
                        box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
                        border-radius: 15px;
                        padding: 40px 24px 24px 24px;
                        & .main_img {
                            width: 100%;
                            position: relative;
                            z-index: 2;
                        }
                        & .feature_one {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            width: 100px;
                        }
                        & .feature_two {
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                            width: 120px;
                        }
                    }
                    &_last {
                        box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
                        border-radius: 15px;
                        width: calc(50% - 7.5px);
                        height: 112px;
                        & img {
                            width: 100%;
                            border-radius: 15px;
                            object-fit: cover;
                            height: 112px;
                        }
                    }
                }
            }
            & a {
                display: block;
                width: 100%;
                height: 55px;
                line-height: 55px;
                font-family: 'Gilroy';
                font-weight: 600;
                font-size: 13px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #065F51;
                text-align: center;
                border: 1px solid #91CBC2;
                border-radius: 10px;
                margin-top: 30px;
            }
            &:nth-child(2) {
                & .insoles_block_item_wrap_img {
                    display: none;
                }
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    @media (min-width: 576px) {
        &_block {
            &_item {
                &_wrap {
                    &_img {
                        &_last {
                            height: 180px;
                            & img {
                                height: 180px; 
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        &_block {
            &_item {
                &_wrap {
                    &_img {
                        &_last {
                            height: 232px;
                            & img {
                                height: 232px; 
                            }
                        }
                    }
                } 
            }
        }
    }
    @media (min-width: 1200px) {
        padding: 80px 0px 80px 0px;
        &_block {
            &_item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 80px;
                & h3 {
                    font-size: 38px;
                    line-height: 46px;
                }
                &_wrap {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    position: relative;
                    &_text {
                        width: 597px;
                        min-width: 597px;
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        & p {
                            font-size: 18px;
                            line-height: 25px;
                            &:last-child {
                                margin-bottom: 0px;
                            }
                        }
                        &_mob {
                            display: none;
                        }
                        & a {
                            margin-top: 0px;
                        }
                    }
                    &_img {
                        width: 466px;
                        min-width: 466px;
                        margin-top: 20px;
                        flex-direction: column;
                        justify-content: flex-start;
                        &_second {
                            box-sizing: border-box;
                            position: relative;
                            background: #FFFFFF;
                            box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
                            border-radius: 15px;
                            margin-bottom: 80px;
                            height: 537px;
                            & .feature_one {
                                position: absolute;
                                left: 0px;
                                top: 0px;
                            }
                            & .main_img {
                                width: 100%;
                                max-width: 438px;
                                display: block;
                                margin-left: auto;
                            }
                            & .feature_two {
                                position: absolute;
                                right: 0px;
                                bottom: 0px;
                            }
                            &_btn {
                                position: absolute;
                                left: 42px;
                                bottom: -70px;
                                cursor: pointer;
                                & .btn {
                                    position: relative;
                                    z-index: 2;
                                }
                                & .band {
                                    position: absolute;
                                    left: 50px;
                                    bottom: 15px;
                                }
                                & p {
                                    display: block;
                                    font-family: 'Gilroy';
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #444766;
                                    width: 275px;
                                    margin-left: 115px;
                                }
                            }
                        }
                        &_last {
                            width: 100%;
                            height: auto;
                            margin-bottom: 24px;
                            & img {
                                height: auto;
                            }
                        }
                    }
                }
                & a {
                    width: auto;
                    font-size: 16px;
                    padding: 0px 25px;
                    margin-top: 0px;
                }
                &:first-child {
                    margin-top: 0px;
                    & a {
                        margin-top: 20px;
                    }
                }
                &:nth-child(2) {
                    & .insoles_block_item_wrap_img {
                        display: block;
                    }
                }
                &:last-child {
                    & .insoles_block_item_wrap_text {
                        width: 635px;
                        min-width: 635px;
                    }
                    & .insoles_block_item_wrap_img {
                        width: 424px;
                        min-width: 424px;
                    }
                }
            }
        }
    }
}